
header {
    background-color: aquamarine;
    padding: 20px;    
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav a {
    flex: 1;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 0.75rem;
}

nav ul li {
    flex: 1;
}